<!--
    File            :   ./templates/footer.html
    Description     :   Template for the footer of the Flask CRUD application.
    Author          :   Satya Prakash Nigam <spnigam25@yahoo.com>
    Created Date    :   June 1, 2024
    Modified Date   :   June 1, 2024
    Dependencies    :   None
    Notes           :   This template contains the footer content for the application.
--> 
<div class="mt-5 p-4 bg-secondary text-white text-center">
	<footer class="footer mt-auto py-3 bg-secondary text-white">
		<div class="container text-center">
			<span style="color:white;">Your Web App &copy; 2024</span>
		</div>
	</footer>
</div>